<head th:fragment="head(title)">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title th:text="${title}">Black Business Directory</title>
  
    <!-- Bootstrap core CSS -->
    <!-- <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"> -->
  
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css">
    <link th:href="@{css/style.css}" rel="stylesheet">
  
  </head>
  